body {
	font-family: 'Raleway','Open Sans', verdana, sans-serif;
	font-size: 0.8em;
	width: 100%;
	margin-top: 0px; 
}
nav {
	margin-top: 0px;
	width: 100%;
	float: left;
}
p {
	color: #D3D3D3;
}
header {
	width: 100%;
	float: left;
}

section {
	width: 100%;
	float: left;

}
div h1 {
	font-size: 2.5em;
}
div h3 {
	font-size: 1em;
	color: #C0C0C0;
}

.logo {
	float: left;
	margin: 10px 20px;
}
.menu {	
	float: right;
	height: auto;
}


