body {
	font-family: 'Raleway','Open Sans', verdana, sans-serif;
	font-size: 0.8em;
	width: 100%;
	margin-top: 5px; 
	background-color: #F5F5F5;
}
nav {
	margin-top: 5px;
	width: 100%;
	float: left;
}
p {
	color: #008080;
	margin: 20px;
	width: 90%;
}
header {
	width: 100%;
}

section {
	width: 100%;
	float: left;
}

footer {
	width: 100%;
	padding: 1px, 2px;
}

div h1 {
	font-size: 2.5em;
}

div h3 {
	font-size: 1em;
	color: #C0C0C0;
}
article h1 {
	font-size: 2em;
}
article h1 p {
	font-size: 0.8em;
}

.contenedor {
	width: 100%;
	max-width: 1173px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}
.contenedor2 {
	width: 100%;
	height: 130px;
	margin-right: auto;
	margin-left: auto;
	background-color: #48D1CC;
	padding: 10px, 20px;

	display: inline-flex;
	flex-direction: row;
}

.logo {
	float: left;
	margin: 10px 20px;
}
.menu {	
	float: right;
	height: auto;
	margin: 10px 20px;
	vertical-align: center;
}
.menu ul {
	list-style: none;
	height: auto;
	line-height: 0.8em;
}
.menu ul li {
	float: left;
	margin-right: 20px;
}
.imagen {
	max-width: 1000px;
}
.iconos:hover {
	width: 80px;
    height: 80px;
    border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    background: #00BFFF;
    margin-right: 100px;

    display: inline-flex;
	flex-direction: row;
}

.iconos {
	width: 80px;
    height: 80px;
    border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    background: #FFD700;
    margin-right: 100px;

    display: inline-flex;
	flex-direction: row;
}

.iconos {
	width: 80px;
    height: 80px;
    border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    background: #FF8C00;
    margin-right: 100px;
    padding: 10px, 10px;

    display: inline-flex;
	flex-direction: row;
}

.iconos {
	width: 80px;
    height: 80px;
    border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    background: #20B2AA;
	margin-right: 100px;

	display: inline-flex;
	flex-direction: row;
}

.iconos:hover {
	animation-name:iconos;
	animation-duration: 2s;
	animatios-delay: 1,3s;
	animation-timing-function: ease-in-out;
}

.items {
	width: 100%;
	height: auto;

	display: inline-flex;
	flex-direction: row;
}
.items2 {
	width: 100%;
	height: auto;

	display: inline-flex;
	flex-direction: row;

}
.tablas {
	width: 100%;
	height: 200px;
	border:2px;
	margin: 20px, 20px;

	display: inline-flex;
	flex-direction: row;

}
.cajastabla1 {
	 width: 100px; 
     height: 200px; 
     border: 1px solid #DCDCDC;
     background: white;
     margin: 10px, 20px;

     display: inline-flex;
	 flex-direction: row;
}
.cajastabla2 {
	 width: 100px; 
     height: 200px; 
     border: 1px solid #DCDCDC;
     background: white;
     margin: 10px, 20px;

     display: inline-flex;
	 flex-direction: row;
}
.cajastabla3 {
	 width: 100px; 
     height: 200px; 
     border: 1px solid #DCDCDC;
     background: white;
     margin: 10px, 20px;

     display: inline-flex;
	 flex-direction: row;
}
.cajastabla4 {
	 width: 100px; 
     height: 200px; 
     border: 1px solid #DCDCDC;
     background: white;
     margin: 10px, 20px;

     display: inline-flex;
	 flex-direction: row;
}
.footer2 {
	width: 100%;
	height: 70px;
	background-color: #008080;

	display: inline-flex;
	flex-direction: row;
}
	.footer2 div span {
		margin: 20px;
		width: 90%;	

		display: inline-flex;
		flex-direction: row;
}

@keyframes iconos {
    0% {
    	transform: scale(1);
    	border-radius: 100%;
    	background-color: #20B2AA;
}
	50% {
		transform: scale(1.2);
		background-color: #48D1CC;
}
	100% {
    	transform: scale(1);
    	border-radius: 100%;
    	background-color: #008080;
}

@media screen and (max-width: 600px); {
	body {
        background-color: #AFEEEE;
        font-size: 2em;
    }

}


































/*.img-circulo1 {
	width: 80px;
    height: 80px;
    border: 2px solid #D3D3D3;
    border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    background: #00BFFF;
    margin-right: 100px;
}

.img-circulo2 {
	width: 80px;
    height: 80px;
    border: 2px solid #D3D3D3;
    border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    background: #FFD700;
    margin-right: 100px;
}

.img-circulo3 {
	width: 80px;
    height: 80px;
    border: 2px solid #D3D3D3;
    border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    background: #FF8C00;
    margin-right: 100px;
}

.img-circulo4 {
	width: 80px;
    height: 80px;
    border: 2px solid #D3D3D3;
    border-radius: 50%;
    border-radius: 50%;
    border-radius: 50%;
    background: #C71585;
	margin-right: 100px;
}*/


/*@keyframes iconos {
	  0% {
    transform: scale(.3);
    background-color: red;
    border-radius: 100%;
	}
	50% {
    background-color: orange;
	}
	100% {
    transform: scale(1.5);
    background-color: yellow;
}

.iconos:hover {
	padding: 10px;
	border: none;
	background color: white;
	margin: 20px;
	width: 100%;

	display: inline-flex;
	flex-direction: row;
	/*justify-content: space-arround;

	animation-name: iconos;
	animation-duration: 1.3s; 
	animation-timing-function: ease-in-out; 
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;} */
