h2 {
	color: orange;

}

.importantes {
	color: #ff6578;
	font-size: 20px;
	font-family: verdana;
}

#primero {
	font-size: 30px;
	background-color: green;
	font-family: arial;
	border-color: blue;
	border-style: solid;



}