body {
	font-family: 'Raleway','Open Sans', verdana, sans-serif;
	font-size: 0.8em;
	width: 100%;
	margin-top: 5px; 
	background-color: #F5F5F5;
}
nav {
	margin-top: 5px;
	width: 100%;
	float: left;
}
header {
	width: 100%;
	height: auto;
	flex-direction: row;
}

section {
	width: 100%;
	float: left;
}

footer {
	width: 100%;
	padding: 1px, 2px;
}

div h1 {
	font-size: 2.5em;
}

div h3 {
	font-size: 1em;
	color: #C0C0C0;
}
article h1 {
	font-size: 2em;
}
article h1 p {
	font-size: 0.8em;
}

.img-responsive {
	width: 100%;
	height: auto;

}

.contenedor {
	width: 100%;
	max-width: 1173px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	text-aling: center;
	flex-direction: column;
}
.contenedor2 {
	width: 100%;
	height: 100px;
	display:inline-block;
}
.contenedor2 p {
	padding: 10px,10px;
	text-align: center;
	
}
.logo {
	float: left;
	margin: 10px 20px;
}
.menu {	
	float: right;
	height: auto;
	margin: 10px 20px;
	vertical-align: center;
}
.menu ul {
	list-style: none;
	height: auto;
	line-height: 0.8em;
}
.menu ul li {
	float: left;
	margin-right: 20px;
}
.buscador {
	width: 100%;
	height: auto;
	flex-direction: row;
	text-align: center;   
	margin-top: 20px;
	margin-bottom: 20px;
}
.barrabusc {
	width: 50%;
}
.contenerico {
	width: 100%;
	display: flex;
    justify-content: space-around;
}
.contenerico-item {
	width: 100%;
	display: flex;   
    flex-direction: row;     
    justify-content: space-around;
}
.txts {
	flex-direction: column;
	text-align: center;
}

.icono1 {
	width: 100px;
    height: 100px;
    margin: 50px, 50px;
    padding: 50px, 50px;
    border-radius: 50%;
    background: #00CED1;

    order: 1;
    -webkit-order: 1;

    display: inline-flex;
	flex-direction: column;
	justify-content: space-around;
}
.icono1:hover {
	animation-name:icono1;
	animation-duration: 2s;
	animatios-delay: 1,3s;
	animation-timing-function: ease-in-out;
}
@keyframes icono1 {
    0% {
    	transform: scale(1);
    	border-radius: 100%;
    	background-color: #20B2AA;
}
	50% {
		transform: scale(1.2);
		background-color: #48D1CC;
}
	100% {
    	transform: scale(1);
    	border-radius: 100%;
    	background-color: #008080;
}
}


/* Article servicio*/

.servicios {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	vertical-align: center;
	justify-content: space-around;

}
.servicios-item1 ul {
	list-style: none;
}
.servicios-item1 {
	height: auto;
	text-align: right;
	width:20%;
	display: flex;   
    flex-direction: column;
}
.servicios-item {
	height: auto;
	width:20%;
	vertical-align: center;
	display: flex;  
    flex-direction: column;
}
.servicios-item ul {
	list-style: none;
}
.imagen {
	flex-direction: column;
	width: auto;
	height: auto;
}
.servicios ul {
	font-size: 1.2em;
	color: #008B8B;
}
.servicios ul li {
	padding-top: 5px;
}

.tarifa {
	width: 100%;
	font-size: 1.5em;
	height: auto;
	color: #696969;
	display: inline-flex;
	flex-direction: row;
	vertical-align: center;
}
.tarifa-item {
	border: solid 3px #A9A9A9;
	font-style: bold;
	height: 200px;
	text-align: center;
	background-color: white;
	font-size: 1.3em;
	width:13%;
	padding: 10px;
	margin: 50px;
	display: flex;
    display: -webkit-flex;   
    flex-direction: column;     
   -webkit-flex-direction: column;
}
.tarifa-item div {
	flex-direction: column;
	color: #A9A9A9;
	text-align: center;
	height: 80px;
	width: auto;
}

.footer1 {
	width: 100%;
	height: 150px;
	float: left;
	background-color: #48D1CC;
}
.contenedor2 p {
	text-align: center;
	margin: 5px, 5px;
	padding: 5px, 5px;
	color: #008080;
}
.footer2 {
	width: 100%;
	height: 100px;
	background-color: #008080;
	text-align: center;

	display: inline-flex;
	flex-direction: row;
}
.footer2 div {
	color: #48D1CC;
	margin: 20px;
	width: 90%;
	font-size: 1.5em;
}

.cont-footer1 {
	width: 100%;
	height: 130px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px, 20px;
}

@media screen and (max-width: 600px) {
	body {
		max-width: 100%;
        font-size: 1em;
    }
    .icono1 {
    	width: 60px;
    	height: 60px;
    	flex-direction: row;
    	display: inline-flex;
    }

}
